.row {
  position: relative;
}

.root {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-stroke-neutral-weak);
  border-radius: 9999px;
  background-color: var(--color-bg-transparent);
  transition:
    background-color 150ms ease-out,
    border-color 150ms ease-out;
}

.root[data-size='medium'] {
  width: 20px;
  height: 20px;
}

.root[data-size='large'] {
  width: 24px;
  height: 24px;
}

.root:focus-visible {
  outline: 2px solid var(--color-stroke-focus-ring);
  outline-offset: 2px;
}

.root[data-unchecked]:not([data-disabled]):active {
  background-color: var(--color-bg-transparent-pressed);
}

.root[data-disabled] {
  cursor: not-allowed;
  border-color: #eeeff1;
}

.row:has(.root[data-disabled]) {
  cursor: not-allowed;
}

.label {
  color: var(--color-fg-neutral);
}

.root[data-disabled] ~ .label {
  color: var(--color-fg-disabled);
}

.indicator[data-unchecked] {
  display: none;
}

.indicator[data-checked] {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
}

.root[data-selection-color='brand'] .indicator[data-checked] {
  background-color: var(--color-bg-brand-solid);
}

.row:active .root[data-selection-color='brand'] .indicator[data-checked] {
  background-color: var(--color-bg-brand-solid-pressed);
}

.root[data-selection-color='brand'] .indicator[data-checked]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 9999px;
  background-color: var(--color-fg-neutral-inverted);
  transform: translate(-50%, -50%);
}

.root[data-size='medium'][data-selection-color='brand'] .indicator[data-checked]::after {
  width: 8px;
  height: 8px;
}

.root[data-size='large'][data-selection-color='brand'] .indicator[data-checked]::after {
  width: 10px;
  height: 10px;
}

.root[data-selection-color='default'][data-size='medium'] .indicator[data-checked] {
  background-image: url('/icons/radio/medium-selected-enabled.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.root[data-selection-color='default'][data-size='large'] .indicator[data-checked] {
  background-image: url('/icons/radio/large-selected-enabled.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.row:active .root[data-selection-color='default'][data-size='medium'] .indicator[data-checked] {
  background-image: url('/icons/radio/medium-selected-pressed.svg');
}

.row:active .root[data-selection-color='default'][data-size='large'] .indicator[data-checked] {
  background-image: url('/icons/radio/large-selected-pressed.svg');
}

.root[data-disabled][data-selection-color='default'][data-size='medium'] .indicator[data-checked] {
  background-image: url('/icons/radio/medium-selected-disabled.svg');
}

.root[data-disabled][data-selection-color='default'][data-size='large'] .indicator[data-checked] {
  background-image: url('/icons/radio/large-selected-disabled.svg');
}

.root[data-disabled][data-selection-color='brand'] .indicator[data-checked] {
  background-color: #eeeff1;
}

.root[data-disabled][data-selection-color='brand'] .indicator[data-checked]::after {
  background-color: #eeeff1;
}
