# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# production
build/
storybook-static/

# local env files
.env*
!.env.example

# testing
coverage/
playwright-report/
test-results/
blob-report/

# misc
.DS_Store
*.pem
*.tsbuildinfo
*.log
