@import '@ncdai/react-wheel-picker/style.css';
@import 'tailwindcss';
@import '../src/shared/styles/color-tokens.css';
@import '../src/shared/styles/font-faces.css';
@import '../src/shared/styles/spacing-tokens.css';
@import '../src/shared/styles/typography-tokens.css';

:root {
  --background: var(--color-bg-layer-fill);
  --foreground: var(--color-fg-neutral);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  min-width: 320px;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-web);
}

button,
input,
textarea {
  font: inherit;
}

.date-picker-wheel [data-rwp] {
  height: 260px !important;
  -webkit-mask-image: none;
  mask-image: none;
}

.date-picker-wheel-wrapper {
  position: absolute !important;
  inset: 0;
}

.date-picker-wheel [data-rwp-highlight-wrapper] {
  z-index: 1;
  border-radius: 12px;
  background-color: var(--color-bg-neutral-weak);
}

.date-picker-wheel [data-rwp-option],
.date-picker-wheel [data-rwp-highlight-item] {
  width: 100%;
  border-radius: 12px;
}

.date-picker-wheel-text {
  color: var(--color-fg-disabled);
  font-size: var(--font-size-t11);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-t11);
  transition:
    color 200ms ease-out,
    font-size 200ms ease-out,
    line-height 200ms ease-out,
    font-weight 200ms ease-out,
    transform 200ms ease-out;
}

.date-picker-wheel [data-rwp-highlight-item] .date-picker-wheel-text {
  color: var(--color-fg-neutral);
  font-size: var(--font-size-t12);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-t12);
  transform: translateY(1px);
}

.date-picker-wheel [data-rwp-option][data-disabled] .date-picker-wheel-text,
.date-picker-wheel [data-rwp-highlight-item][data-disabled] .date-picker-wheel-text {
  color: var(--color-fg-disabled);
}

.time-picker-wheel [data-rwp] {
  height: 224px !important;
  -webkit-mask-image: none;
  mask-image: none;
}

.time-picker-wheel-wrapper {
  position: absolute !important;
  inset: 0;
}

.time-picker-wheel [data-rwp-option],
.time-picker-wheel [data-rwp-highlight-item] {
  width: 100%;
  border-radius: 12px;
}

.time-picker-wheel-text {
  color: rgb(152, 162, 179);
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  transition:
    color 200ms ease-out,
    font-size 200ms ease-out,
    line-height 200ms ease-out,
    font-weight 200ms ease-out,
    transform 200ms ease-out;
}

.time-picker-wheel [data-rwp-highlight-item] .time-picker-wheel-text {
  color: rgb(29, 41, 57);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  transform: translateY(1px);
}
